<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>provisioningProfiles</key>
	<dict>
		<key>你的bundle ID</key>
		<string>描述文件UUID，和脚本中的一样</string>
	</dict>
	<key>method</key>
	<string>app-store</string>
</dict>
</plist>
